<footer>
    <div class="content">
        <ul class="clearfix">
            <li><a href="index.html">智慧首页</a></li>
            <li>|</li>
            <li><a href="zhihuichanpin.html">智慧产品</a></li>
            <li>|</li>
            <li><a href="javascript:">解决方案</a></li>
            <li>|</li>
            <li><a href="javascript:">家居服务</a></li>
            <li>|</li>
            <li><a href="javascript:">新闻动态</a></li>
            <li>|</li>
            <li><a href="javascript:">关于我们</a></li>
            <li><a href=""><span class="iconfont iconweibo"></span></a></li>
            <li><a href=""><span class="iconfont iconweixin"></span></a></li>
        </ul>
        <div></div>
        <div>
            <p>不以物喜不以己悲 国信安助你实现梦想 展翅高飞！</p>
            <p>Copyright © 2020-3030 <span><a href="">chuangxin studio.</a></span></p>
        </div>
        <div><img src="images/erweima.png" alt=""></div>
    </div>
</footer>
<script src="./js/jquery-3.5.1.min.js"></script>
<script src="./js/index.js"></script>